*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{}
    .container__header{
        background-color: #444;
        text-align: center;
        height: 25vh;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }
    @media (min-width: 550px) {
        .container__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;
            transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
        .container__header__logo{

        }
        @media (min-width: 550px) {
            .container__header__logo{
                margin-left: 10vw;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
}
        }
        @media(min-width:1000px){
            .container__header__logo{
                margin-left: 6vw;
            }
        }
        @media(min-width:2000px){
            .container__header__logo{
                width: 500px;
            }
        }
            .container__header__logo-img{
                width: 150px;
                height: 15vh;
                margin-top: 15px;
            }
            @media(min-width:550px){
                .container__header__logo-img{
                    margin: 0;
                    transition: all 1.5s;
                    -webkit-transition: all 1.5s;
                    -moz-transition: all 1.5s;
                    -ms-transition: all 1.5s;
                    -o-transition: all 1.5s;
}
            }
            @media(min-width:2000px){
                .container__header__logo-img{
                    width: 350px;
                    transition: all 1s;
                    -webkit-transition: all 1s;
                    -moz-transition: all 1s;
                    -ms-transition: all 1s;
                    -o-transition: all 1s;
}
            }
        .container__header__ul{
            margin-top: 12px;
        }
        @media(min-width:550px){
            .container__header__ul{
                margin-right: auto;
                margin-left: auto;
            }
        }
        @media(min-width:1000px) {
            .container__header__ul{
                margin-right: 10vw;
                transition: all 2s;
                -webkit-transition: all 2s;
                -moz-transition: all 2s;
                -ms-transition: all 2s;
                -o-transition: all 2s;
}
        }
            .container__header__ul-a{
                font-size: 17px;
                text-decoration: none;
                padding: 5px;
                margin: 0 5px;
                color: #fff;

            }
            .container__header__ul-a:hover{
                border-radius: 4px;
                background-color: #999;
                color: #111;
                transition: all 1.5s;
                -webkit-transition: all 1.5s;
                -moz-transition: all 1.5s;
                -ms-transition: all 1.5s;
                -o-transition: all 1.5s;
}
            @media(min-width:550px){
                .container__header__ul-a{
                    font-size: 22px;
                }
            }
            @media(min-width:2000px){
                .container__header__ul-a{
                    font-size: 35px;
                }
            }
            @media(max-width:280px){
                .container__header__ul-a{
                    margin: 0 1px;
                }
            }
/*----------------SECTION 2----------------*/
.container__article__presentme{
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(230, 250, 250, 1);
}
/*Responsive tablet*/
@media(min-width: 1000px){
    .container__article__presentme{
        position: relative;
        height: 690px;
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
}
}
@media(min-width:1200px){
    .container__article__presentme{
        height: 790px;
    }
}
@media(min-width:2300px){
    .container__article__presentme{
        height: 830px;
    }
}
    /*---------------------------------*/
    .container__article__presentme-h1{
        text-align: center;
        padding-top: 40px;
        text-shadow: 7px 7px 7px;
        font-size: 22px;
        text-transform: uppercase;
    }
    /*Responsibe Android*/
    @media (min-width: 600px) {
        .container__article__presentme-h1{
            font-size: 35px;
            transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
    /*Responsive Tablet*/
    @media(min-width: 1000px) {
        .container__article__presentme-h1{
            top: 120px;
            left: 20px;
            transition: all 1.5s;
            position: absolute;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
    @media(min-width:1200px){
        .container__article__presentme-h1{
            top: 250px;
            left: 10vw;
            font-size: 45px;
        }
    }
    @media(min-width:1920px){
        .container__article__presentme-h1{
            left: 18%;
            top: 200px;
            font-size: 55px;
            text-shadow: 25px 25px 10px;
        }
    }
    @media(min-width:2300px){
        .container__article__presentme-h1{
            left: 23%;
        }
    }
    /*---------------------------------*/
    .container__article__presentme-p{
        text-shadow: 7px 7px 7px;
        font-size: 17px;
        margin-top: 5px;
    }
    /*Responsive Android*/
    @media (min-width: 600px) {
        .container__article__presentme-p{
            font-size: 30px;
            transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
    /*Responsive Tablet*/
    @media(min-width: 1000px) {
        .container__article__presentme-p{
            top: 220px;
            left: 70px;
            transition: all 1.5s;
            position: absolute;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
    @media(min-width:1200px){
        .container__article__presentme-p{
            top: 400px;
            font-size: 35px;
        }
    }
    @media(min-width:1920px){
        .container__article__presentme-p{
            top: 350px;
            left: 18%;
            font-size: 50px;
            text-shadow: 25px 25px 10px;
        }
    }
    @media(min-width:2300px){
        .container__article__presentme-p{
            left: 21%;
        }
    }
    /*------------------------------------*/
    .container__article__presentme{
        position: relative;
    }
    /*Responsive Tablet*/
    @media(min-width:1000px){
        .container__article__presentme{
            grid-area: 2;
            padding: 0;
        }
    }
    /*--------------------------------*/
        .container__article__presentme-img{
            width:70%;
            border-radius: 10px;
            margin-top: 30px;
            opacity: .8;
            box-shadow: 13px 6px 13px;
        }
        /*Responsive Android*/
        @media (min-width:600px){
            .container__article__presentme-img{
                width: 50%;
                transition: all 1s;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
}
        }
        /*Responsive Tablet*/
        @media (min-width:1000px) {
            .container__article__presentme-img{
                position: absolute;
                margin: 0;
                right: 5%;
                top: 20px;
                width:500px;
                border-radius: 10px;
                margin-top: 30px;
                opacity: .8;
                box-shadow: 13px 6px 13px;
            }
        }
        @media (min-width:1600px){
            .container__article__presentme-img{
                right: 8%;
                top: 60px;
                box-shadow: 20px 20px 30px 5px;
            }
        }
        @media (min-width: 2300px){
            .container__article__presentme-img{
                right: 400px;
                top: 60px;
                
            }
        }
        /*-----------------------------------*/
    .container__article__presentme__icon{
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        margin-top: 50px;
    }
    /*Responsive Android*/
    @media(min-width:600px){
        .container__article__presentme__icon{
            margin-top: 20px;
            transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -moz-transition: all 1.5s;
            -ms-transition: all 1.5s;
            -o-transition: all 1.5s;
}
    }
    /*Responsive Tablet*/
    @media (min-width:1000px){
        .container__article__presentme__icon{
            position: absolute;
            top: 550px;
            left: 25%;
            margin: 0;
        }
    }
    @media(min-width:1200px){
        .container__article__presentme__icon{
            top: 650px;
            left: 40%;
        }
    }
    @media(min-width:2300px){
        .container__article__presentme__icon{
            left: 40%;
        }
    }
        .container__article__presentme__icon i{
            font-size: 25px;
            width: 50px;
            text-shadow: 10px 15px 15px;
            color: #444;
        }
        .container__article__presentme__icon h1{
            font-size: 15px;
            margin: 7px 15px;
            text-shadow: 2px 5px 5px;
            color: #444;
        }
        @media(min-width:600px){
            .container__article__presentme__icon i{
                font-size: 50px;
            }
            .container__article__presentme__icon h1{
                font-size: 28px;
            }
        }
        @media(min-width:2300px){
            .container__article__presentme__icon i{
                font-size: 60px;
                text-shadow: 0 0 0 ;
                
            }
            .container__article__presentme__icon h1{
                font-size: 35px;
                text-shadow: 0px 0px 0px;
            }
        }
        
    .container__article__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        background-color:rgba(230, 250, 250, 0.8)
}
        .container__article__description h1{
            margin-top: 50px;
            font-size: 30px;
        }
        .container__article__description__info{
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 50px;
        }   
            /*--------------------------------------------*/
            .container__article__description div{
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 30px;
                font-size: 16px;
                align-items: center;
                
            }
            .container__article__description__info-h3{
                margin-bottom:20px ;
            }
            /*------------------------------------------------------*/
            .container__article__description__info__infobasica h3{
                margin-bottom: 20px;
            }
            /*--------------------------------------------------------*/
            .container__article__description__info__infoacademica dt li p{
                align-items: center;
                width: 330px;
                margin-top: 10px;
                margin-left: auto;
                margin-bottom: 5px;
            }
            /*-------------------------------------------------------*/
            .container__article__description__infovirtudes dt{
                display: grid;
                grid-template-columns: auto auto;
            }
                .container__article__description__infovirtudes-listanone{
                    list-style: none;
                    margin-left: 10px;
                }
            /*-----------------------------------------------------------*/
            .container__article__description__infoconocimientos dt{
                display: grid;
                grid-template-columns: auto auto;
                
            }
                .container__article__description__infoconocimientos-listnone{
                    list-style: none;
                }