*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{}
    .container__header{
        background-color: #444;
        text-align: center;
        height: 25vh;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }
    @media (min-width: 550px) {
        .container__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15vh;
            transition: all 1.5s;
        }
    }
        .container__header__logo{

        }
        @media (min-width: 550px) {
            .container__header__logo{
                margin-left: 10vw;
                transition: all 1s;
            }
        }
        @media(min-width:1000px){
            .container__header__logo{
                margin-left: 6vw;
            }
        }
            .container__header__logo-img{
                width: 150px;
                height: 15vh;
                margin-top: 15px;
            }
            @media(min-width:550px){
                .container__header__logo-img{
                    margin: 0;
                    transition: all 1.5s;
                }
            }
        .container__header__ul{
            margin-top: 12px;
        }
        @media(min-width:550px){
            .container__header__ul{
                margin-right: auto;
                margin-left: auto;
            }
        }
        @media(min-width:1000px) {
            .container__header__ul{
                margin-right: 10vw;
                transition: all 2s;
            }
        }
            .container__header__ul-a{
                font-size: 17px;
                text-decoration: none;
                padding: 5px;
                margin: 0 5px;
                color: #fff;

            }
            .container__header__ul-a:hover{
                border-radius: 4px;
                background-color: #999;
                color: #111;
                transition: all 1.5s;
            }
            @media(min-width:550px){
                .container__header__ul-a{
                    font-size: 22px;
                }
            }
            @media(max-width:280px){
                .container__header__ul-a{
                    margin: 0 1px;
                }
            }
/*----------------SECTION 2----------------*/
.container__article__presentme{
    height: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(184, 189, 189, 0.7);
}
/*Responsive tablet*/
@media(min-width: 1000px){
    .container__article__presentme{
        position: relative;
        height: 70vh;
    }
}
    /*---------------------------------*/
    .container__article__presentme-h1{
        text-align: center;
        padding-top: 40px;
        text-shadow: 7px 7px 7px;
        font-size: 25px;
        text-transform: capitalize;
    }
    /*Responsibe Android*/
    @media (min-width: 600px) {
        .container__article__presentme-h1{
            font-size: 35px;
            transition: all 1.5s;
        }
    }
    /*Responsive Tablet*/
    @media(min-width: 1000px) {
        .container__article__presentme-h1{
            top: 150px;
            left: 20px;
            transition: all 1.5s;
            position: absolute;
        }
    }
    @media(min-width:1200px){
        .container__article__presentme-h1{
            top: 250px;
            left: 10vw;
            font-size: 45px;
        }
    }
    /*---------------------------------*/
    .container__article__presentme-p{
        text-shadow: 7px 7px 7px;
        font-size: 18px;
    }
    /*Responsive Android*/
    @media (min-width: 600px) {
        .container__article__presentme-p{
            font-size: 30px;
            transition: all 1.5s;
        }
    }
    /*Responsive Tablet*/
    @media(min-width: 1000px) {
        .container__article__presentme-p{
            top: 300px;
            left: 70px;
            transition: all 1.5s;
            position: absolute;
        }
    }
    @media(min-width:1200px){
        .container__article__presentme-p{
            top: 400px;
            font-size: 35px;
        }
    }
    /*------------------------------------*/
    .container__article__presentme{
        position: relative;
    }
    /*Responsive Tablet*/
    @media(min-width:1000px){
        .container__article__presentme{
            grid-area: 2;
            padding: 0;
        }
    }
    /*--------------------------------*/
        .container__article__presentme-img{
            width:70%;
            border-radius: 10px;
            margin-top: 30px;
            opacity: .8;
            box-shadow: 13px 6px 13px;
        }
        /*Responsive Android*/
        @media (min-width:600px){
            .container__article__presentme-img{
                width: 50%;
                transition: all 1.5s;
            }
        }
        /*Responsive Tablet*/
        @media(min-width:1000px) {
            .container__article__presentme-img{
                position: absolute;
                margin: 0;
                right: 10%;
                top: 100px;
                max-width: 600px;
                width:40%;
                border-radius: 10px;
                margin-top: 30px;
                opacity: .8;
                box-shadow: 13px 6px 13px;
            }
        }
        /*-----------------------------------*/
    .container__article__presentme__icon{
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        margin-top: 50px;
    }
    /*Responsive Android*/
    @media(min-width:600px){
        .container__article__presentme__icon{
            margin-top: 20px;
            transition: all 1.5s;
        }
    }
    /*Responsive Tablet*/
    @media (min-width:1000px){
        .container__article__presentme__icon{
            position: absolute;
            top: 650px;
            left: 30%;
            margin: 0;
        }
    }
        .container__article__presentme__icon i{
            font-size: 25px;
            width: 50px;
            margin: 0 5px;
            text-shadow: 10px 15px 15px;
            color: #444;
        }
        .container__article__presentme__icon h1{
            font-size: 15px;
            margin: 7px 5px;
            text-shadow: 2px 5px 5px;
            color: #444;
        }
        @media(min-width:600px){
            .container__article__presentme__icon i{
                font-size: 50px;
            }
            .container__article__presentme__icon h1{
                font-size: 28px;
            }
        }
        